* {
    font-family: "Helvetica", sans-serif;
}

h1 {
    text-align: center;
}

.tutorial-text {
    text-align: center;
}

.weapons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 12px;
    text-align: center;
}

button:hover {
    background-color: orange;
}

.sign {
    font-size: 50px;
    text-align: center;
}

.scoreboard {
    display:flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    font-size: 30px;
    padding: 20px;
    background-color: lightblue;
}

.scorebox {
    display: flex;
    font-weight: bold;
    flex-flow: column;
    align-items: center;
}

#result {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

#restartBtn {
    height: 50px;
}

.restart {
    margin-top: 50px;
    text-align: center;
}